
body{

    margin: 0;
  
}
p{

    color: black;
}
.font-look{

    font-size: 25px;
    font-style: inherit;
    font-weight: 500;
}

h1{
    font-size: 60px;
    color: green;
}

.orange-color{

    color: orange;
}
.button-btn{

    padding: 10px 15px;
    background-color:tomato;
    border-radius: 20px;
    border-style: none;
    color: white;
    margin-top: 9px;
    text-decoration: none;
   
}
.header-section{

    display: flex;
    padding-left: 70px;
    
}

.perfect{

    margin-top: 120px;
}

.top-banner img{
    
    background-image: url(./eat-healthy/images/shapes//Group\ 8449.png);
    background-repeat: no-repeat;
    background-position: top;
    padding-left: 50px;
    width: 550px;
    padding-right: 5px;
}

.banner-section{

    display: flex;
    padding-left: 70px;
    margin-top: 60px;
    
}
.text-tag{
    text-align: left;
}

.text-edit{

    padding-left: 150px;
    padding-top: 50px;
    padding-right: 200px; 
}

.banner-section img{

    background-image: url(./eat-healthy//images/shapes//Frame\ 59.jpg);
    background-repeat: no-repeat;
}

.text-edit{
    background-image: url(./eat-healthy/images/shapes/Frame\ 59.jpgp)
}

.about-section{

    text-align: center;
    padding-right: 250px;
    margin-top: 30px;
}

.test-sec{

    display: flex;
  
   
    
}
 
.test-sec img{

    width: 400px;
    height: auto;
    padding-left: 90px;
    margin-top: 30px;
}
.test-image1{
    
    width: 600px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 250px;
    padding-left: 25px;
    border-radius: 5px;

  
}

.test-image2{
    
    width: 600px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 100px;
    padding-left: 25px;
    border-radius: 5px;
  
}


.review-sec{

    display: flex;
    text-align: center;
    padding: 10px 15px;
    margin-left: 300px;
    box-shadow: 10px 10px 40px burlywood;
    margin-top: 30px;
    width: 500px;
    margin-left: 664px;
    margin-top: 30px;
    
   
}

footer{
        background-color: rgb(16, 10, 39);
        color: white;
        text-align: center;
        margin-bottom: 30px;
        padding-right: 200px;
        
}
.orange-color{

    font-size: 75px;
}

.pera{

    background-color: rgb(16, 10, 39);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    padding-bottom: 10px;
}